body {
  background-color: #efeae4;
  font-family: "David Libre", serif;
}

nav {
  background-color: #bd8c7d;
}

h3 {
  font-family: "Cookie", cursive;
  color: grey;
  text-align: center;
  padding: 2%;
}

.title-image {
  width: 50%;
  /* transform: rotate(25deg); */
  position: absolute;
  left: 40%;
}

.intro-text {
  width: 60%;
  /* margin: 40px auto 60px; */
}
