body {
  background-color: #efeae4;
  font-family: "David Libre", serif;
  text-align: center;
}

nav {
  background-color: #bd8c7d;
}

h1 {
  text-align: left;
}

h3 {
  font-family: "Cookie", cursive;
  color: grey;
  padding: 2%;
}

.title-image {
  width: 50%;
  /* transform: rotate(25deg); */
  /* position: absolute; */
  /* left: 40%; */
  margin: 0 30%;
}

.intro-text {
  width: 60%;
  text-align: left;
}

#about {
  padding-bottom: 7%;
}

#nutrition {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 1.7rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  padding: 7% 15%;
  background-color: #bd8c7d;
}

.contact-button {
  border: none;
}
