body {
  background-color: #efeae4;
  font-family: "David Libre", serif;
}

nav {
  background-color: #bd8c7d;
}

h3 {
  font-family: "Cookie", cursive;
  color: grey;
  text-align: center;
  padding: 2%;
}
